<button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button isRoundButton="true" routerLink="" mat-menu-item>Dashboard</button>
  <button routerLink="/about" mat-menu-item>About</button>
</mat-menu>

<a routerLink="">Dashboard</a> |
<a routerLink="/about">About</a> |
<a routerLink="/admin/user">User</a> |

<router-outlet></router-outlet>
